$bg: #14131d;
$bg2: #222c42;
$fontColor: white;
$linkColor: white;

$errColor: red;

$divBorderColor: white;

$btnBg: transparent;
$btnBg2: rgb(240, 233, 231);
$btnFontColor: white;
$btnBoxShadow: rgba(255, 255, 255, 0.2);

$btnBoxShadow-sushi: rgb(226, 214, 207);
$btnBoxShadow-sushi-2: rgb(247, 244, 242);

$txtColor: #aa9585;
$notesColor: #9492c4;

$tableSeparationColor: #222946;
